<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="SmsReplyRecodeClientMapper">
	<select id="getAllSmsReplyRecodeClientP" parameterType="page" resultType="Map">
	 select s.id,  s.user_sp_id, s.user_sp_name spname, s.user_crop_id, sp.status, s.message_id, s.source, s.destination, s.message_content, s.receive_time,
	 s.send_time, case s.sended when '1' then '是' else '否' end sendtype , s.channel_name, s.channel_type , s.pk_size , s.pk_number 
	 from sms_mo s , sms_sp_info sp, app_user_info aui where s.user_sp_id = sp.id and sp.user_id = aui.id
	 and sp.status = 1  
	 <if test="formData.subAccountAppIds == null">
	 	and  aui.id = ${formData.userId} 
	 </if>
	 <if test="formData.subAccountAppIds != null">
	 	and  sp.id in ${formData.subAccountAppIds}
	 </if>
	 <if test="formData.spName != null and formData.spName!='' ">
		and sp.sp_name like  CONCAT(CONCAT('%',#{formData.spName}),'%')
	 </if>
	 <if test="formData.queryStartTime !=null and formData.queryStartTime !=''">
	 	and s.receive_time  &gt;= to_timestamp(#{formData.queryStartTime},'yyyy-MM-dd')
	 </if>
	 <if test="formData.queryEndTime !=null and formData.queryEndTime !=''">
	 	and s.receive_time  &lt;= to_timestamp(#{formData.queryEndTime},'yyyy-MM-dd')
	 </if>
	 order by s.receive_time desc limit ${length} offset  ${start} 
	 
	 
	</select>
	
	<select id="getAllSmsReplyRecodeClientCount" parameterType="page" resultType="Map">
	 select count(s.id) count  
	 from sms_mo s , sms_sp_info sp, app_user_info aui where s.user_sp_id = sp.id and sp.user_id = aui.id
	 and sp.status = 1 
	 <if test="formData.subAccountAppIds == null">
	 	and  aui.id = ${formData.userId} 
	 </if>
	 <if test="formData.subAccountAppIds != null">
	 	and  sp.id in ${formData.subAccountAppIds}
	 </if>
	 <if test="formData.spName != null and formData.spName!='' ">
		and sp.sp_name like  CONCAT(CONCAT('%',#{formData.spName}),'%')
	 </if>
	 <if test="formData.queryStartTime !=null and formData.queryStartTime !=''">
	 	and s.receive_time  &gt;= to_timestamp(#{formData.queryStartTime},'yyyy-MM-dd')
	 </if>
	 <if test="formData.queryEndTime !=null and formData.queryEndTime !=''">
	 	and s.receive_time  &lt;= to_timestamp(#{formData.queryEndTime},'yyyy-MM-dd')
	 </if>
	</select>
	
	<select id="getSmsReplyRecodeClientInfoById"  parameterType="form" resultType="Map">
		select s.source, s.message_content from sms_mo s  where id =  ${id}
	</select>
	
	
</mapper>