<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<!-- 根据id获取用户基本信息，扩展了字段 qq,weixin -->
	<select id="findUserBaseInfoByID" parameterType="form"
		resultType="Map">
		select id,account_name,user_name,mobile,email,last_login_ip,address,
		grade,sale_manager_id, support_manager_id,app_manager_id,
		this_login_ip,this_login_time,last_login_time,
		photo_img,
		qq,weixin,security_login_mark,password_strength_mark
		from app_user_info
		where id = ${userId}
	</select>

	<update id="updateBaseInfoExceptMobile" parameterType="form">
		update APP_USER_INFO
		<set>
			<if test="savemobile != null and savemobile != '' ">
				mobile = #{savemobile},
			</if>
			user_name = #{user_name},
			<if test="email!= null and email != '' ">
				email = #{email},
			</if>
			qq = #{qq},
			weixin = #{weixin},
		</set>
		where ID = ${userId}
	</update>

	<update id="updateBaseInfoIncludeMobile" parameterType="form">
		update APP_USER_INFO
		<set>
			<if test="user_name != null and user_name != '' ">
				user_name = #{user_name},
			</if>
			<if test="email!= null and email != '' ">
				email = #{email},
			</if>
			<if test="qq!= null and qq != '' ">
				qq = #{qq},
			</if>
			<if test="weixin!= null and weixin!= '' ">
				weixin = #{weixin},
			</if>
			<if test="mobile!= null and mobile!= '' ">
				mobile = #{mobile},
			</if>
		</set>
		where ID = ${userId}
	</update>

	<update id="updatePhoto" parameterType="form">
		update APP_USER_INFO
		<set>
			<if test="photo_img_SRC != null and photo_img_SRC != '' ">
				photo_img = #{photo_img_SRC},
			</if>
		</set>
		where ID = ${userId}
	</update>


	<!-- 根据id获取用户信息 -->
	<select id="findUserInfoByID" parameterType="form" resultType="Map">
		select
		ID,USER_NAME,MOBILE,CREATETIME,EMAIL,LAST_LOGIN_IP
		from
		APP_USER_INFO where ID = ${userId}
	</select>

	<!-- 修改个人信息 -->
	<update id="updateUserInfoById" parameterType="form">
		update APP_USER_INFO
		<set>
			<if test="USER_NAME != null and USER_NAME != '' ">
				USER_NAME = #{USER_NAME}
			</if>
			<if test="EMAIL != null and EMAIL != '' ">
				,EMAIL = #{EMAIL}
			</if>
		</set>
		where ID = ${userId}
	</update>

	<select id="getUserByIdAndPsd" parameterType="form" resultType="Map">
		select ID from APP_USER_INFO where ID = ${userId} and PASSWORD =
		#{oldPsd}
	</select>
	<select id="getUserById" parameterType="form" resultType="Map">
		select
		* from APP_USER_INFO where ID = ${userId}
	</select>
	<update id="updatePassword" parameterType="form">
		update APP_USER_INFO
		set PASSWORD =
		#{newPsd},password_strength_mark=#{passwordStrengthMark} where ID =
		${userId}
	</update>
	<select id="isHasMobile" parameterType="String" resultType="Map">
		select ID from APP_USER_INFO where account_name =#{mobile}
	</select>
	<update id="updateMobile" parameterType="form">
		update APP_USER_INFO set
		MOBILE = #{mobile} where ID = ${userId}
	</update>
	<select id="selectComAuthByUid" parameterType="form" resultType="Map">
		select * from APP_USER_AUTHENTICATION_INFO where ID = ${userId}
	</select>
	<update id="updateComAuth" parameterType="form">
		UPDATE APP_USER_AUTHENTICATION_INFO
		SET COMPANY=#{COMPANY},
		COMPANY_ADDRESS=#{COMPANY_ADDRESS},
		ORGANIZATION_NO=#{ORGANIZATION_NO}
		<if test="ORGANIZATION_IMAGE_SRC != null and ORGANIZATION_IMAGE_SRC != '' ">, ORGANIZATION_IMAGE=#{ORGANIZATION_IMAGE_SRC}</if>
		, TAXPAYER_NO=#{TAXPAYER_NO}
		<if test=" TAXPAYER_IMAGE_SRC != null and TAXPAYER_IMAGE_SRC != '' "> ,TAXPAYER_IMAGE=#{TAXPAYER_IMAGE_SRC} </if>
		, REGISTERED_NO=#{REGISTERED_NO}
		<if test="REGISTERED_IMAGE_SRC != null and REGISTERED_IMAGE_SRC != '' "> , REGISTERED_IMAGE=#{REGISTERED_IMAGE_SRC} </if>
		, LEGAL_REPRESENTATIVE=#{LEGAL_REPRESENTATIVE}
		<if test=" IDCARD_IMAGE_SRC != null and IDCARD_IMAGE_SRC != '' "> , IDCARD_IMAGE=#{IDCARD_IMAGE_SRC}</if>
		, CONTACT=#{CONTACT}
		WHERE ID = ${userId}
	</update>

	<update id="updateComAuthNew" parameterType="form">
		UPDATE APP_USER_AUTHENTICATION_INFO
		SET COMPANY=#{company},
		COMPANY_ADDRESS=#{company_address},
		ORGANIZATION_NO=#{organization_no}
		<if test="organization_image_SRC != null and organization_image_SRC != '' ">, ORGANIZATION_IMAGE=#{organization_image_SRC}</if>
		, TAXPAYER_NO=#{taxpayer_no}
		<if test=" taxpayer_image_SRC != null and taxpayer_image_SRC != '' "> ,TAXPAYER_IMAGE=#{taxpayer_image_SRC} </if>
		, REGISTERED_NO=#{registered_no}
		<if test="registered_image_SRC != null and registered_image_SRC != '' "> , REGISTERED_IMAGE=#{registered_image_SRC} </if>
		, LEGAL_REPRESENTATIVE=#{legal_representative}
		<if test="idcard_image_SRC != null and idcard_image_SRC != '' "> , IDCARD_IMAGE=#{idcard_image_SRC}</if>
		<if test="identity_front_img_SRC != null and identity_front_img_SRC != '' "> , identity_front_img=#{identity_front_img_SRC}</if>
		<if test="identity_back_img_SRC != null and identity_back_img_SRC != '' "> , identity_back_img=#{identity_back_img_SRC}</if>
		,CONTACT=#{contact}
		WHERE ID = ${userId}
	</update>


	<insert id="insertComAuth" parameterType="form">
		INSERT INTO
		APP_USER_AUTHENTICATION_INFO(ID,COMPANY,COMPANY_ADDRESS,ORGANIZATION_NO,ORGANIZATION_IMAGE,TAXPAYER_NO,TAXPAYER_IMAGE,REGISTERED_NO,REGISTERED_IMAGE,LEGAL_REPRESENTATIVE,STATUS,IDCARD_IMAGE,CONTACT,identity_front_img,identity_back_img)
		VALUES( ${userId}, #{company}, #{company_address},
		#{organization_no},
		#{organization_image_SRC}, #{taxpayer_no},
		#{taxpayer_image_SRC},
		#{registered_no},
		#{registered_image_SRC},#{legal_representative},
		0,
		#{idcard_image_SRC},
		#{contact},#{identity_front_img_SRC},#{identity_back_img_SRC})
	</insert>
	<update id="updateAuthStatus" parameterType="form">
		update
		APP_USER_AUTHENTICATION_INFO set STATUS = '1' where ID =
		${userId}
	</update>
	<select id="getPriceBySpId" parameterType="form" resultType="Map">
		select SALEPRICE price from SMS_SP_SETTING where SP_ID =
		#{spId}
	</select>
	<insert id="insertChargerReCode"></insert>
	<update id="updateEmail" parameterType="form">
		update APP_USER_INFO set
		EMAIL = #{email} where ID = ${userId}
	</update>

	<select id="numSmsUserinfoMapper" parameterType="form"
		resultType="int">
		select count(1) from SMS_USER_INFO where ID='#{identif}'
		and STATUS='1' and BUSSINESSTYPE = '2';
	</select>

	<select id="getSaleManagerMapper" parameterType="Map"
		resultType="Map">
		select USER_NAME,NAME,MDN,PHOTO, case
		BUSSINESSTYPE when
		'1'
		then '支撑经理' when '2' then '销售经理' else null end
		BUSSINESSTYPE from
		SMS_USER_INFO where ID = ${sale_manager_id} and STATUS = '1'
	</select>
	<select id="getSupportManagerMapper" parameterType="Map"
		resultType="Map">
		select USER_NAME,NAME,MDN,PHOTO, case
		BUSSINESSTYPE when
		'1'
		then '支撑经理' when '2' then '销售经理' else null end
		BUSSINESSTYPE from
		SMS_USER_INFO where ID = ${support_manager_id}
		and STATUS = '1'
	</select>

	<select id="findUserInfoById" parameterType="java.lang.Integer"
		resultType="map">

		select * from app_user_info where id=#{0}
	</select>

	<select id="getAppUserByMobile" parameterType="java.lang.String"
		resultType="map">
		select id from app_user_info where mobile=#{0}
	</select>

	<select id="getAppUserByAccountName" parameterType="java.lang.String"
		resultType="map">
		select id from app_user_info where account_name=#{0} and
		del_mark=0
	</select>

	<select id="getAppUserByMobileAndId" parameterType="form"
		resultType="map">
		select id from app_user_info where mobile=#{mobile} and
		id!=#{id}
	</select>

	<select id="getAppUserByAccountNameAndId" parameterType="form"
		resultType="map">
		select id from app_user_info where
		account_name=#{account_name} and id!=#{id}
	</select>

	<insert id="addSubAccount" parameterType="form">
		insert into
		app_user_info(password,user_name,status,account_name,mobile,createtime,is_sub_account,parent_id)
		values(
		#{password},
		#{user_name},
		1,
		#{account_name},
		#{account_name},
		#{createtime},
		1,
		#{parentId}
		)
	</insert>


	<update id="updateSubAccount" parameterType="form">
		update app_user_info
		<set>
			<if test="user_name != null">
				user_name = #{user_name,jdbcType=VARCHAR},
			</if>
			<if test="account_name != null">
				account_name = #{account_name,jdbcType=VARCHAR},
			</if>
			<if test="account_name != null">
				mobile = #{account_name,jdbcType=VARCHAR},
			</if>
		</set>
		where id=#{id,jdbcType=INTEGER}
	</update>

	<update id="delSubAccount" parameterType="form">
		update app_user_info
		set del_mark = 1
		where id=#{id,jdbcType=INTEGER}
	</update>

	<delete id="delUserSubSp" parameterType="form">
		delete from
		app_user_sub_sp where sub_account_id=#{id}
	</delete>

	<delete id="delUserSubMenu" parameterType="form">
		delete from
		app_user_sub_menu where sub_account_id=#{id}
	</delete>

	<insert id="insertUserSubSp" parameterType="java.util.List">
		insert into
		app_user_sub_sp(id,parent_account_id,sub_account_id,sp_id,sp_account_name)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(nextval('app_user_sub_sp_id_seq'),#{item.parentAccountId},#{item.subAccountId},#{item.spId},#{item.spAccountName})
		</foreach>
	</insert>

	<insert id="insertUserSubMenu" parameterType="java.util.List">
		insert into
		app_user_sub_menu(id,parent_account_id,sub_account_id,menu_code)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(nextval('app_user_sub_menu_id_seq'),#{item.parentAccountId},#{item.subAccountId},#{item.menuCode})
		</foreach>
	</insert>

	<select id="findSubAccountListPage" parameterType="page"
		resultType="Map">
		select * from app_user_info where is_sub_account=1 and
		parent_id=#{formData.userId} and del_mark=0
		<if test="formData.accountName != null and formData.accountName != '' ">
			and account_name like '%'||#{formData.accountName}||'%'
		</if>
		<if test="formData.userName != null and formData.userName != '' ">
			and user_name like '%'||#{formData.userName}||'%'
		</if>

		order by createtime desc
	</select>

	<select id="findSubAccountSpList" parameterType="java.lang.Integer"
		resultType="Map">
		select * from app_user_sub_sp where parent_account_id=#{0}
	</select>

	<select id="findSubAccountById" parameterType="java.lang.Integer"
		resultType="map">
		select * from app_user_info where id=#{0}
	</select>
	<select id="findSubAccountSpById" parameterType="java.lang.Integer"
		resultType="map">
		select * from app_user_sub_sp where sub_account_id=#{0}
	</select>
	<select id="findSubAccountMenuById" parameterType="java.lang.Integer"
		resultType="map">
		select * from app_user_sub_menu where sub_account_id=#{0}
	</select>

	<update id="updateSubAccountPwd" parameterType="form">
		update
		app_user_info
		set password = #{newPsd}
		where
		id=#{subAccountId,jdbcType=INTEGER}
	</update>

	<update id="updateMainAccountSecurityLoginMark" parameterType="form">
		update app_user_info
		set security_login_mark = #{securityLoginMark}
		where id=#{userId,jdbcType=INTEGER}
	</update>
	<update id="updateSubAccountSecurityLoginMark" parameterType="form">
		update app_user_info
		set security_login_mark = #{securityLoginMark}
		where id in (select sub_account_id from app_user_sub_sp where
		parent_account_id =#{userId,jdbcType=INTEGER})
	</update>
	<select id="findMdnSection" resultType="map">
		select num from
		sms_mdn_section order by id
	</select>
	<select id="selPassAtuhById" parameterType="java.lang.Integer"
		resultType="map">

		select * from app_user_authentication_info where id=#{0}
		and status=2
	</select>
	
	
	<select id="findUserBaseInfoByIDAndAccount" parameterType="form"
		resultType="Map">
		select * from app_user_info
		 where id != ${userId} and account_name=#{newAccountName}
	</select>
	
	<update id="updateAccountAndMobile" parameterType="form">
		update app_user_info
		set account_name = #{newAccountName},mobile=#{newMobile} 
		where id=#{userId,jdbcType=INTEGER}
	</update>
	<select id="checkCompany" parameterType="java.lang.String" resultType="map">
	select * from app_user_authentication_info where company=#{0} and status=2
	</select> 
</mapper>